.ColorSelectorView {
  width: 36px;
  height: 36px;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  > img {

    width: 24px;
    height: 24px;
  }

  &:hover {
    cursor: pointer;
  }
}
